<article class="one_fourth">
</article>
<article class="one_half">
  <div>
    <h1>Hi, Welcome To Cyvasse</h1>
  </div>
  <div>
    <article>
      <div>
        <h3>
          <%= link_to 'Login', login_path %>
          <%= link_to 'New Player', new_user_path %>
        </h3>
      </div>
    </article>
  </div>
</article>
<article class="one_fourth">
  d
</article>