<!--<div class="container align-center page-load-spinner">-->
  <!--<i class="fa fa-spinner fa-spin fa-5x"></i>-->
<!--</div>-->
<style>
  .navbar{
    z-index: 999;
  }
</style>
<div id="homePage" class="main-content background-image">
  <div class="layer blackLayer">
    <div class="container">

      <div class="container">
        <hr class="prettyline">
        <hr class="prettyline">
        <hr class="prettyline">
      </div>
      <br>

      <h1 style="font-size: 60px;">
        Welcome To Cyvasse.io,
      </h1>
      <br>
      <h2 style="font-size: 25px;">
        The best digital version of
        <a href="http://awoiaf.westeros.org/index.php/Cyvasse" style="color: whitesmoke;" target="_blank" id="link-to-cyvasse-wiki">
          Cyvasse,
        </a>
        the board game described in
        <a href="http://en.wikipedia.org/wiki/George_R._R._Martin" style="color: whitesmoke;" target="_blank" id="link-to-george-r-r-martin-wiki">
          George R. R. Martin's
        </a>
        <a href="http://en.wikipedia.org/wiki/A_Song_of_Ice_and_Fire" style="color: whitesmoke;" target="_blank" id="link-to-a-song-of-ice-and-fire-wiki">
          <i>A Song of Ice and Fire.</i>
        </a>
        </h2>
      <br>
        <h3>
        Cyvasse is first mentioned in
        <a href="http://awoiaf.westeros.org/index.php/A_Feast_for_Crows" style="color: whitesmoke;" target="_blank" id="link-to-a-feast-for-crows-wiki">
          <i>A Feast for Crows,</i>
        </a>
         and is played in
        <a href="http://awoiaf.westeros.org/index.php/A_Dance_with_Dragons" style="color: whitesmoke;" target="_blank" id="link-to-a-dance-with-dragons-wiki">
          <i>A Dance with Dragons</i>
        </a>
        by an number of characters across
        <a href="http://awoiaf.westeros.org/index.php/Westeros" style="color: whitesmoke;" target="_blank" id="link-to-westeros-wiki">
          Westeros
        </a>
        and
        <a href="http://awoiaf.westeros.org/index.php/Essos" style="color: whitesmoke;" target="_blank" id="link-to-essos-wiki">
          Essos,
        </a>
        including,
        <!--<a href="http://awoiaf.westeros.org/index.php/Tyrion_Lannister" style="color: whitesmoke;" target="_blank" id="link-to-tyrion-wiki">-->
          Tyrion,
        <!--</a>-->
        <!--<a href="http://awoiaf.westeros.org/index.php/Myrcella_Baratheon" style="color: whitesmoke;" target="_blank" id="link-to-myrcella-wiki">-->
          Myrcella,
        <!--</a>-->
        <!--<a href="http://awoiaf.westeros.org/index.php/House_Martell" style="color: whitesmoke;" target="_blank" id="link-to-martell-wiki">-->
          the Martells,
        <!--</a>-->
        and many more.
        Join our community and play against friend's or our computers.
        <br>
        <br>
        We are currently in beta, and appreciate all feedback!
      </h3>
      <br><br>
      <h4>
        <%= link_to 'New Player', new_user_path, :class => 'btn-success btn sign-up', :target => "_self", :id => 'cyvasse-sign-up-body'%> |
        <%= link_to 'Login', login_path, :class => 'btn-info btn sign-up', :target => "_self", :id => 'cyvasse-login-body'%> |
        <%= link_to 'Rules', rules_path, :class => 'btn-primary btn sign-up', :target => "_self", :id => 'cyvasse-about-body'%>

      </h4>
      <br>
      <br>
      <!--<br>-->
      <h6>cyvasse.io currently works on Google Chrome, Firefox, and Safari on PC and Mac</h6>
      <br>
      <!--<br>-->
      <h6>Avast antivirus not supported</h6>
      <div class="meta">
        <a id="signedOut"></a>
      </div>
    </div>
  </div>
</div>