<article class="one_fourth">&nbsp</article>
<article class="one_half">
  <div id="messageDock">
    <div class="flashSuccess"><h5><%= flash[:success] %></h5></div>
    <div class="flashError"><h5><%= flash[:error] %></h5></div>
  </div>
  <div>
    <h1>Hi, Welcome To Cyvasse.io</h1>
    <h6>The best digital version of Westeros and Essos favorite board game, Cyvasse!  Set up your army, and play against our computer or
      your friends.  We are currently in beta, and appreciate all feedback!</h6><br>
  </div>
  <div>
    <article>
      <div>
        <h3>
          <%= link_to 'Login', login_path %>
          |
          <%= link_to 'New Player', new_user_path %>
        </h3>
      </div>
    </article>
  </div>

  <div style="display: block">
    <article>
      <br>
      cyvasse.io currently works on Google Chrome, Firefox, and Safari on PC and Mac
    </article>
    <article>
      <br>
      Avast antivirus not supported
    </article>
  </div>
</article>
<article class="one_fourth">&nbsp</article>