<style>
    .navbar{
        z-index: 999;
    }
</style>
<div id="homePage" class="main-content background-image background-404-image">
  <div class="layer blackLayer">
    <div class="container">

      <div class="container">
        <hr class="prettyline">
        <hr class="prettyline">
        <hr class="prettyline">
      </div>
      <br>


      <br><h1>Comments or Problems?</h1>
      <h2>send me and email</h2>
      <br><h4>cyvasseio@gmail.com</h4>
    </div>
  </div>
</div>