<h1>YES</h1>

<%= button_to "BUTTON", '/about', class: 'btn btn-info' %><br>

<%= link_to "Matches", "matches" %><br>
<%= link_to "Users", "users" %><br>
<%= link_to "Game Statuses", "game_statuses" %><br>

