<article class="full_column">
  <br>
  <h1>New Rules <h6>Implemented on April 14th 2015</h6></h1>
  <br>
  <ul>
    <li>
      Spearmen will no longer trump Heavy Horse.
    </li>
    <li>
      Catapults strength will change from 4 to 3.
    </li>
    <li>
      Trebuchets will not be able to move.
    </li>
    <li>
      Crossbowmen will trump Elephants.
    </li>
    <li>
      Catapults will trump Dragons.
    </li>
  </ul>
</article>