<div class="messageOptions">
  <div id="messageNav">
    <form>
    <input id="messageBody" type="text" autofocus="">

    <button id="sendMessage" type='submit'>send</button>
    </form>
  </div>

  <div id="messages">
    <% @messages.each do |message| %>
        <div class="messageRow">
            <p class="message <%= @match.home_user_id == message[:sender] ? 'away' : 'home' %>">
              <a class=""><%= message[:message] %></a>
            </p>
        </div>
    <% end %>
  </div>
</div>