<div class="messageOptions">
  <div id="messageNav">
    <input id="messageBody" type="text" autofocus="">

    <button id="sendMessage">send</button>
  </div>

  <div id="messages">
    <% @messages.each do |message| %>
        <a class="message
        <%= @match.home_user_id == message[:sender] ? 'away' : 'home' %>">
          <%= message[:message] %>
        </a>

    <% end %>
  </div>
</div>