<div class="toggleOptions">
  <div style="float: right">
    <h4>Toggle</h4>
    <button id="toggleRules">Rules</button>
    <button id="toggleOutline">Outlines</button>
    <!--<button id="toggleHoverInfo">Hover Info</button>-->
  </div>
</div>