<% if locals[:match].match_against == 'computer' %>
    <div class="countDownComp">---</div>
<% else %>
    <% if locals[:match].time_of_last_move == nil %>
        <% t = Time.now %>
        <div class="countDown" data-time="<%= t %>"></div>
    <% else %>
        <% t = (locals[:match].time_of_last_move.gmtime()+604800) %>
        <div class="countDown" data-time="<%= t %>"></div>
    <% end %>
<% end %>