@import "bourbon";
@import "neat";
@import "base/base";
@import "new";
@import "borbon";

$black: #333333;
$brown: #403939;
$red: #4A2929;
$devil-gray: #666;
$dred: #402424;
$white: #fff;

$temp1: #1c2124;
$temp2: #4F8164;
$temp3: #9cd6a4;
$temp4: #f6f6ae;
$temp5: #d52822;

/* clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
.clearfix {
  *zoom: 1;
}

//About Page CSS
.class_title {
  margin: auto;
  position: relative;
  display: block;
}

.about_unit {
  height: 100px;
  display: inline-block;
  border-top: solid 1px #666;

}

.about_unit_description {
  padding-top: 0;
  width: 225px;
  display: inline-block;
  border-left: solid 1px #666;
  p {
    height: 20%;
    line-height: 90%;
  }
}

.about_unit_image {
  width: 60px;
  display: inline-block;
  margin: auto;
  max-width: 175%;
  max-height: 100%;
}

/* ----- =columns ----- */
.one_half {
  width: 460px;
}

.one_third {
  width: 300px;
}

.two_third {
  width: 620px;
}

.one_fourth {
  width: 220px;
}

.three_fourth {
  width: 700px;
}

.full_column {
  width: 940px;
  float: left;
}

.wrapper {
  margin: auto;
  width: 960px;
  border: solid green 3px;
  background: #ffffff; /* Old browsers */
  background: -webkit-linear-gradient(right top, $temp2, $temp3);
}

article {
  position: relative;
  margin-left: 20px;
}

//Match Page
.matchHeading {
  width: 920px;
  float: left;
}

.match .info {
  width: 206px;
  float: left;
}


.auxSpace {
  border-top: 0;
  height: 164px;
  width: 100%;
}

.enemyBay {
  border: solid #000000 4px;
  height: 47px;
  width: 800px;
}

#selectedUnitName {
  height: 50px;
}

#selectedUnitImage {
  height: 230px
}



//Unsure What For
.heading .title {
  width: 700px;
  float: left;
}

.heading .flash {
  width: 220px;
  float: left;
  color: green;
  margin-top: 10px;
  margin-left: -8px;
  margin-right: auto;
  margin-bottom: auto;
  @extend .clearfix;
}

//Unit Classes
[data-status='unplaced'] {

  z-index: 6;
  position: relative;
  margin-bottom: -6px;
  margin-right: -5px;
  width: 40px;
  height: 40px;
}

[data-status='alive'] {
  z-index: 6;
  position: absolute;
  margin-left: 0px;
  margin-bottom: -5px;
  width: 60px;
  height: 70px;
  cursor: pointer;
  display: inline-block;

  -webkit-border-radius: 100px;
  border: solid 1px red;
}

[data-status='dead'] {
  z-index: 6;
  position: relative;
  margin-bottom: -6px;
  margin-right: -5px;
  width: 40px;
  height: 40px;
}


.options {
  //  text-align: center;
  //  font-size: 50px;
  font-size: 40px;

  //  font-size: 20px;
  //  background-color: yellowgreen;
}

.option {
  //  font-size: 50px;
  display: block;

  margin-top: 12px;
  widht: 300px;
  height: 100px;
  text-align: center;
  vertical-align: center;

  background-color: yellowgreen;
  border: solid blue 2px;
  -webkit-border-radius: 10px;

}

//'*[data-team=' + team_id + ']'
[data-team*='1'] {
  //  border: solid 1px red;
}

[data-team*='0'] {
  border: solid 1px greenyellow;
}

.hexDiv {
  float: left;
  width: 60px;
  height: 68px;
  border: solid blue 1px;
  z-index: 5;
  svg {
    width: 60px;
    height: 68px;
    position: absolute;
    z-index: 2;
    polygon {
      position: absolute;
    }
  }
}



.unplacedUnitSpace {
  float: left;
  border: solid red 2px;
  width: 39.5px;
  height: 40px;
}



.grave {
  float: left;
  width: 25px;
  height: 32px;
  img {
    float: left;
    width: 25px;
    height: 32px;
  }
}

.unplacedEnemySpace {
  float: left;
  width: 39.5px;
  height: 40px;
}

polygon {
  z-index: 1;
  background-color: #1c2324;
  position: relative;
  fill: url(#grad1);
  stroke-width: 25;
  transform: scale(.108);
  &:hover {
    fill: $devil-gray;
    stroke: $white;
  }
}



//Hexagon Classes
.unSelected {
  stroke: $white;
  z-index: 3;
}

.hoverRange {
  fill: orange;
  stroke: darkred;
  z-index: 4;
}

.selectedRange {
  fill: blue;
  stroke: blueviolet;
  z-index: 3;
}

.testRange {
  stroke: limegreen;
  z-index: 3;
}

.yourUnit {
  stroke: green;
  z-index: 4;
}

.blueblue {
  fill: red;
  stroke: royalblue;
  z-index: 4;
}

.orange {
  fill: green;
  stroke: orange;
  z-index: 4;
}

//CSS for each row of Hexagons.
.grid {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -16px;
  @extend .clearfix;

  &:nth-of-type(1) {
    max-width: 364px;
  }
  &:nth-of-type(2) {
    max-width: 424px;
  }
  &:nth-of-type(3) {
    max-width: 484px;
  }
  &:nth-of-type(4) {
    max-width: 544px;
  }
  &:nth-of-type(5) {
    max-width: 604px;
  }
  &:nth-of-type(6) {
    max-width: 664px;
  }
  &:nth-of-type(7) {
    max-width: 604px;
  }
  &:nth-of-type(8) {
    max-width: 544px;
  }
  &:nth-of-type(9) {
    max-width: 484px;
  }
  &:nth-of-type(10) {
    max-width: 424px;
  }
  &:nth-of-type(11) {
    max-width: 364px;
  }
  &:last-of-type {

    margin-bottom: 0;
  }
}





