@import "bourbon";
@import "neat";
@import "base/base";
@import "match";
@import "buttons";
//@import "borbon";

@import "navBar";
@import "matchShow";
@import "rootLoggedIn";

$black: #333333;
$brown: #403939;
$red: #4A2929;
$devil-gray: #666;
$dred: #402424;
$white: #fff;

$temp1: #1c2124;
$temp2: #4F8164;
$temp3: #9cd6a4;
$temp4: #f6f6ae;
$temp5: #d52822;

body {

}

.backgroundImage {
//  background-image: url('http://images6.fanpop.com/image/photos/32600000/asoiaf-a-song-of-ice-and-fire-32690635-1200-583.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100vw;
}

/* clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
.clearfix {
  *zoom: 1;
}

//About Page CSS
.class_title {
  margin: auto;
  position: relative;
  display: block;
}

.about_unit {
  height: 100px;
  display: inline-block;
  border-top: solid 1px #666;

}

.about_unit_description {
  padding-top: 0;
  width: 225px;
  display: inline-block;
  border-left: solid 1px #666;
  p {
    height: 20%;
    line-height: 90%;
  }
}

.about_unit_image {
  width: 60px;
  display: inline-block;
  margin: auto;
  max-width: 175%;
  max-height: 100%;
}

/* ----- =columns ----- */
.one_half {
  border: greenyellow solid 3px;

  width: 460px;
}

.one_third {
  width: 300px;
}

.two_third {
  width: 620px;
}

.one_fourth {
  width: 220px;
  border: red solid 3px;
}

.three_fourth {
  width: 700px;
  border: greenyellow solid 3px;
}

.full_column {
  width: 940px;
  float: left;
}

.wrapper {
  margin: auto;
  width: 960px;
//    border: solid green 1px;
//    background: #0000ff; /* Old browsers */
  //  background: -webkit-linear-gradient(right top, $temp2, $temp3);
}

.radio{
  display: block;
  width: 100%;
//  height: 50px;
  text-align: center;
//  position: static;
  float: left;
}

.submit{
  display: block;
  float: left;
}

article {
  display: block;
  margin-right: 10px;
  margin-left: 10px;
  float: left;
}

//Match Page
.matchHeading {
  width: 920px;
  float: left;
}

//
//.match .info {
//  width: 206px;
//  float: left;
//}

//.rotating {
//  opacity: 0;
//  margin: 100px 0 0 -440px;
//  position: absolute;
//  z-index: 7;
//
//}
//
//.newGame {
//  margin-top: 170px;
//}
//
//.playComputer {
//  margin-top: 170px;
//}


.startGameButton {
  height: 80px;
  width: 200px;
  font-size: 24px;
  margin: 120px 0 0 -382px;
}

.randomSetUpButton {
  margin: 260px 0 0 -350px;
  opacity: 0;
}

.auxSpace {
  height: 150px;
  width: 320px;
  background-color: orangered;
  border: solid #000000 3px;
  text-align: center;
}

.unplacedUnitSpace {
  margin-top: 5px;
  display: inline-block;
  width: 39.5px;
  height: 40px;
}

.enemyBay {
  border: solid #000000 4px;
  height: 47px;
  width: 960px;
  float: right;
}

#selectedUnitName {
  height: 50px;
}

#selectedUnitImage {
  height: 230px
}

//Unsure What For
.heading .title {
  width: 700px;
  float: left;
}

.heading .flash {
  width: 220px;
  float: left;
  color: green;
  margin-top: 10px;
  margin-left: -8px;
  margin-right: auto;
  margin-bottom: auto;
  @extend .clearfix;
}

//Unit Classes
[data-status='unplaced'] {

  z-index: 6;
  position: relative;
  margin-bottom: -6px;
  margin-right: -5px;
  width: 40px;
  height: 40px;
}

[data-status='alive'] {
  z-index: 10;
  position: absolute;
  margin-left: 0px;
  margin-bottom: -5px;
  width: 60px;
  height: 70px;
  cursor: pointer;
  display: inline-block;

  -webkit-border-radius: 100px;
}

[data-status='dead'] {
  z-index: 6;
  position: relative;
  margin-bottom: -6px;
  margin-right: -5px;
}

.options {
  //  text-align: center;
  //  font-size: 50px;
  font-size: 40px;

  //  font-size: 20px;
  //  background-color: yellowgreen;
}

.option {
  //  font-size: 50px;
  display: block;

  margin-top: 12px;
  widht: 300px;
  height: 100px;
  text-align: center;
  vertical-align: center;

  background-color: yellowgreen;
  //  border: solid blue 2px;
  -webkit-border-radius: 10px;

}

//'*[data-team=' + team_id + ']'
//[data-team='1'] {
//    border: solid 3px red;
//}
//[data-team='0'] {
//  border: solid 3px greenyellow;
//}

.hexDiv {
  float: left;
  width: 60px;
  height: 66px;
  z-index: 5;
  svg {
    width: 60px;
    height: 68px;
    position: absolute;
    z-index: 2;
    polygon {
      position: absolute;
      stroke: white;
      stroke-width: 20px;
    }
  }
}

.grave {
  float: left;
  width: 32px;
  height: 26px;
  img {
    float: left;
    width: 32px;
    height: 40px;
  }
}

.unplacedEnemySpace {
  float: left;
  width: 39.5px;
  height: 40px;
}

polygon {
  z-index: 1;
  background-color: #1c2324;
  position: relative;
  fill: url(#grad1);
  stroke-width: 25;
  transform: scale(.108);
  //  &:hover {
  //    fill: $devil-gray;
  //    stroke: $white;
  //  }
}

.hexDiv:hover {
  fill: $devil-gray;
  stroke: $white;
}

//Hexagon Classes
//.unSelected {
//  stroke: $white;
//  z-index: 3;
//}
//
//.hoverRange {
//  fill: orange;
//  stroke: darkred;
//  z-index: 4;
//}
//
//.selectedRange {
//  fill: blue;
//  stroke: blueviolet;
//  z-index: 3;
//}

.testRange {
  stroke: limegreen;
  z-index: 11;
}



//CSS for each row of Hexagons.
.grid {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -15px;
  @extend .clearfix;

  &:nth-of-type(1) {
    max-width: 364px;
  }
  &:nth-of-type(2) {
    max-width: 424px;
  }
  &:nth-of-type(3) {
    max-width: 484px;
  }
  &:nth-of-type(4) {
    max-width: 544px;
  }
  &:nth-of-type(5) {
    max-width: 604px;
  }
  &:nth-of-type(6) {
    max-width: 664px;
  }
  &:nth-of-type(7) {
    max-width: 604px;
  }
  &:nth-of-type(8) {
    max-width: 544px;
  }
  &:nth-of-type(9) {
    max-width: 484px;
  }
  &:nth-of-type(10) {
    max-width: 424px;
  }
  &:nth-of-type(11) {
    max-width: 364px;
  }
  &:last-of-type {

    margin-bottom: 0;
  }
}
