@import "bourbon";
@import "neat";
@import "base/base";

$black: #333333;
$brown: #403939;
$red: #4A2929;
$devil-gray: #666;
$dred: #402424;
$white: #fff;

$temp1: #1c2124;
$temp2: #4F8164;
$temp3: #9cd6a4;
$temp4: #f6f6ae;
$temp5: #d52822;

/* clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
.clearfix {
  *zoom: 1;
}


//About Page CSS
.class_title {
  margin: auto;
  position: relative;
  display: block;
}
.about_unit {
  height: 100px;
  display: inline-block;
  border-top: solid 1px #666;

}
.about_unit_description {
  padding-top: 0;
  width: 225px;
  display: inline-block;
  border-left: solid 1px #666;
  p {
    height: 20%;
    line-height: 90%;
  }
}
.about_unit_image {
  width: 60px;
  display: inline-block;
  margin: auto;
  max-width: 175%;
  max-height: 100%;
}


/* ----- =columns ----- */
.one_half {
  width: 460px;
}
.one_third {
  width: 300px;
}
.two_third {
  width: 620px;
}
.one_fourth {
  width: 220px;
}
.three_fourth {
  width: 700px;
}
.full_column {
  width: 940px;
  float: left;
}


.wrapper {
  margin: auto;
  width: 980px;
  border: solid green 3px;
  background: #ffffff; /* Old browsers */
  background: -webkit-linear-gradient(right top, $temp2, $temp3);
}

article {
  position: relative;
  margin-left: 20px;
}

//Match Page
.matchHeading{
  width: 920px;
  float: left;
}
.match .info {
  width: 206px;
  float: left;
}
.selectedPieceInformation {
  background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
  text-align: center;
  border: solid #000000 4px;
  border-bottom: solid #000000 2px;
  height: 381px;
  width: 100%;
}


.graveyard{
  background: -webkit-linear-gradient(bottom left, #207cca, #7db9e8);
  border: solid #000000 4px;
  border-top: 0;
  height: 85px;
  width: 100%;
}

.auxSpace {
  background: -webkit-linear-gradient(bottom left, #207cca, #7db9e8);
  border: solid #000000 4px;
  border-top: 0;
  height: 164px;
  width: 100%;
}

.enemyBay {
  border: solid #000000 4px;
  display: inline-block;
  position: relative;
  float: left;
    margin-top: 15px;
    margin-left: -24px;
  height: 47px;
  width: 800px;
  zoom: 0.95;
}

#selectedUnitName{
  height: 50px;
}

.match .map {
  width: 700px;
  float: left;
//    transform: perspective(400px) rotateX(20deg);
}

.loadEnemiesButton{
  position: absolute;
  margin-left: 570px;
}
.randomSetUpButton{
  position: absolute;
  margin-left: 570px;
  margin-top: 50px;
}
.startGameButton{
  position: absolute;
//  visibility: hidden;
}
.moveUnitButton {
  position: absolute;
//  visibility: hidden;
}
.fiveTurnsButton {
  position: absolute;
//  visibility: hidden;
  margin-top: 50px;
}
.tenTurnsButton{
  position: absolute;
//  visibility: hidden;
  margin-top: 100px;
}


//Unsure What For
.heading .title {
  width: 700px;
  float: left;
}
.heading .flash {
  width: 220px;
  float: left;
  color: green;
  margin-top: 10px;
  margin-left: -8px;
  margin-right: auto;
  margin-bottom: auto;
  @extend .clearfix;
}


//Unit Classes
[data-status='unplaced']{

  z-index: 6;
  position: relative;
  margin-bottom: -6px;
  margin-right: -5px;
  width: 40px;
  height: 40px;
}
[data-status='alive']{
  z-index: 6;
  position: absolute;
  margin-left: 0px;
  margin-bottom: -5px;
  width: 60px;
  height: 70px;
  cursor: pointer;
  display: inline-block;

  -webkit-border-radius: 100px;
  border: solid 1px red;
}
[data-status='dead']{
  z-index: 6;
  position: relative;
  margin-bottom: -6px;
  margin-right: -5px;
  width: 40px;
  height: 40px;
}

//.newUnit {
//  z-index: 6;
//  position: relative;
//  margin-bottom: -6px;
//  margin-right: -5px;
//  width: 40px;
//  height: 40px;
//}
//.inPlayUnit{
//  z-index: 6;
//  position: absolute;
//  margin-left: 0px;
//  margin-bottom: -5px;
//  width: 60px;
//  height: 70px;
//  cursor: pointer;
//  display: inline-block;
//
//  -webkit-border-radius: 100px;
//      border: solid 1px red;
//
//
//}
//.deadUnit{
//  z-index: 6;
//  position: relative;
//  margin-bottom: -6px;
//  margin-right: -5px;
//  width: 40px;
//  height: 40px;
//}

.options{
//  text-align: center;
//  font-size: 50px;
  font-size: 40px;

//  font-size: 20px;
//  background-color: yellowgreen;
}

.option{
//  font-size: 50px;
  display: block;

  margin-top: 12px;
  widht: 300px;
  height: 100px;
  text-align: center;
  vertical-align: center;

  background-color: yellowgreen;
  border: solid blue 2px;
  -webkit-border-radius: 10px;

}

//'*[data-team=' + team_id + ']'
[data-team*='1']{
//  border: solid 1px red;
}
[data-team*='0']{
  border: solid 1px greenyellow;
}

.ssquare{
  float: left;
  width: 60px;
  height: 68px;
  border: solid blue 1px;
  z-index: 5;
  svg{
    width: 60px;
    height: 68px;
    position: absolute;
    z-index: 2;
    polygon{
      position: absolute;
    }
  }
}

.unplacedUnitSpace{
  float: left;
  width: 39.5px;
  height: 40px;
}

polygon {
  z-index: 1;
  background-color: #1c2324;
  position: relative;
  fill: url(#grad1);
  stroke-width: 25;
  transform: scale(.108);
  &:hover {
    fill: $devil-gray;
    stroke: $white;
  }
}
.robot {
  width: 42px;
  height: 21px;
}


//Hexagon Classes
.unSelected {
  stroke: $white;
  z-index: 3;
}
.hoverRange {
  stroke: darkred;
  z-index: 4;
}
.selectedRange {
  stroke: blueviolet;
  z-index: 3;
}
.testRange {
  stroke: limegreen;
  z-index: 3;
}
.yourUnit{
  stroke: green;
  z-index: 4;
}


//CSS for each row of Hexagons.
.grid {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -16px;
  @extend .clearfix;

  &:nth-of-type(1) {
    max-width: 364px;
  }
  &:nth-of-type(2) {
    max-width: 424px;
  }
  &:nth-of-type(3) {
    max-width: 484px;
  }
  &:nth-of-type(4) {
    max-width: 544px;
  }
  &:nth-of-type(5) {
    max-width: 604px;
  }
  &:nth-of-type(6) {
    max-width: 664px;
  }
  &:nth-of-type(7) {
    max-width: 604px;
  }
  &:nth-of-type(8) {
    max-width: 544px;
  }
  &:nth-of-type(9) {
    max-width: 484px;
  }
  &:nth-of-type(10) {
    max-width: 424px;
  }
  &:nth-of-type(11) {
    max-width: 364px;
  }
  &:last-of-type {

    margin-bottom: 0;
  }
}


header.navigation {
  $navigation-padding: 1em;
  $navigation-background: $dark-gray;
  $navigation-color: transparentize(white, 0.3);
  $navigation-color-hover: white;
  $navigation-height: 60px;
  $navigation-nav-button-background: $base-accent-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);
  $navigation-active-link-color: transparentize(white, 0.5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;
  $horizontal-bar-mode: $large-screen;

  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  height: $navigation-height;
  width: 100%;
  z-index: 999;

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    padding-left: $navigation-padding;
    padding-right: 2em;
    padding-top: 3px;

    img {
      max-height: $navigation-height;
      padding: .8em 0;
    }
  }

  // Mobile view

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    font-family: $sans-serif;
    font-weight: 700;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase;

    @include media($horizontal-bar-mode) {
      display: none;
    }

    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu

  .nav {
    z-index: 9999999;
    float: none;
    @include media($horizontal-bar-mode) {
      float: left;
    }
  }

  ul#navigation-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    @include media($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // The nav items

  ul li.nav-link {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: .8em;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }

    a {
      color: $navigation-color;
      display: inline-block;
      font-weight: 400;

      @include media($horizontal-bar-mode) {
        padding-right: 1em;
      }

      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }

  // Sub menus

  li.more.nav-link {
    padding-right: 0;

    @include media($large-screen) {
      padding-right: $navigation-submenu-padding;
    }

    > ul > li:first-child a {
      padding-top: 1em;
    }

    a {
      margin-right: $navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a:after {
      @include position(absolute, auto -.4em auto auto);
      content: '\25BE';
      color: $navigation-color;
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: .8em;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($large-screen) {
        margin-right: $navigation-submenu-padding;
      }

      &:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: $navigation-submenu-padding / 2;
      }
    }

    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: .8em;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $navigation-submenu-width - .2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: .7em;
        }
      }

      a {
        background-color: darken($navigation-background, 3);
        display: inline-block;
        text-align: right;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $navigation-background;
          padding-left: $navigation-submenu-padding;
          text-align: left;
          width: $navigation-submenu-width;
        }
      }
    }
  }

  // Elements on the far right

  .navigation-tools {
    @include clearfix;
    display: block;
    padding-right: $navigation-padding;
    padding-left: $navigation-padding/2;
    clear: both;
    background: #505050;

    @include media($large-screen) {
      background: transparent;
      float: right;
      clear: none;
    }
  }

  a.sign-up {
    margin-top: 1.2em;
    float: right;
    @include transition(all 0.2s ease-in-out);
    display: inline;
    background: $navigation-nav-button-background;
    border-radius: $base-border-radius;
    color: white;
    font-size: .8em;
    font-weight: 800;
    text-transform: uppercase;
    padding: .4em .5em;

    @include media($large-screen) {
      padding: .5em 1em;
    }

    &:hover {
      background: lighten($navigation-nav-button-background, 10);
    }
  }

  // Search bar

  .search-bar {
    $search-bar-border-color: $base-border-color;
    $search-bar-border: 1px solid $search-bar-border-color;
    $search-bar-background: lighten($search-bar-border-color, 10);

    padding: .85em .6em;
    float: left;
    .search-and-submit {
      position: relative;

      input[type=search] {
        background: $navigation-search-background;
        border: $navigation-search-border;
        padding: .6em .8em;
        font-size: .9em;
        font-style: italic;
        color: $navigation-color;
        border-radius: $base-border-radius * 2;
        margin: 0;

        @include media($large-screen) {
          width: 100%;
        }
      }

      button[type=submit] {
        @include button(simple, lighten($navigation-search-background, 10));
        position: absolute;
        top: 0.3em;
        right: 0.3em;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 15px;

        img {
          height: 12px;
          opacity: .7;
        }
      }
    }

    @include media($horizontal-bar-mode) {
      width: 16em;
      position: relative;
      display: inline-block;

      input {
        @include box-sizing(border-box);
        display: block;
      }
    }
  }
}