
.rotating {
  opacity: 0;
  margin: 100px 0 0 -440px;
  position: absolute;
  z-index: 17;

}

.oldGame {
  margin-top: 40px;
}

.newGame {
  margin-top: 110px;
}

.playComputer {
  margin-top: 180px;
}

.simulation {
  margin-top: 250px;
}