//Unit Statuses
[data-status='unplaced'] {
  z-index: 6;
  position: relative;
  margin-bottom: -6px;
  margin-right: -5px;
  width: 40px;
  height: 40px;
}

[data-status='alive'] {
  z-index: 12;
  position: absolute;
  margin-left: 0px;
  margin-bottom: -5px;
  width: 60px;
  height: 70px;
  cursor: pointer;
  display: inline-block;
  -webkit-border-radius: 100px;
}

[data-status='dead'] {
  z-index: 6;
  position: relative;
  margin-bottom: -6px;
  margin-right: -5px;
}

.gameUpdate{
  z-index: 20;
  background-color: blueviolet;
  margin: 150px 0 0 -610px;
}
.gameUpdate2{
  z-index: 20;
  background-color: blueviolet;
  margin: 150px 0 0 -610px;
}
.gameUpdate4{
  z-index: 20;
  background-color: blueviolet;
  margin: 150px 0 0 -610px;
}

#matchShow {

  .auxSpace {
    height: 140px;
    width: 280px;
    margin-left: -490px;
    margin-top: 60px;
    background-color: #477dca;
    border: solid #000000 3px;
    border-radius: 20px;
    text-align: center;
  }

  background-color: darkred;
  position: relative;
  width: 960px;
  //  height: 800px;

  .unit1 {
    border: 2px solid blue;
    border-radius: 40px;
  }
  .unit0 {
    border: 2px solid red;
    border-radius: 40px;
  }
  .noBoarder {
    border: 0;
    padding: 2px;
  }
  .hexHover {
    fill: yellow;
  }
  [data-status=dead] {
    padding: 0;
    border: 0;
  }
  [data-status=unplaced] {
    padding: 0;
    border: 0;
  }

  article {
  }

  .hideSelectedUnitInfo {
    visibility: hidden;
  }
  .toggleOptions {
    position: absolute;
    text-align: center;
    float: right;
    height: 210px;
    width: 710px;
    button {
      width: 40px;
      font-size: 6px;
      margin-bottom: 5px;
      height: 16px;
      display: inline-block;
    }
  }

  #matchInfo {
    //    text-align: center;
    background-color: #666;
    border: solid #000000 2px;
    .matchUp {
      //          background-color: yellow;
      border-bottom: solid 2px;
      height: 160px;
      text-align: center;
      .usernameAndImage {
        vertical-align: middle;
        display: inline-block;
        width: 100%;
        height: 40px;
        &:nth-of-type(1) {
          margin: 20px 0 0 0;
        }
        text-align: center;
        article {
          display: inline-block;
          margin-left: auto;
          margin-right: auto;
          float: none;
          vertical-align: middle;
        }
        h5 {
          display: inline-block;
          height: 100%;
          margin-left: auto;
          margin-right: auto;
          margin-top: -8px;
          padding-bottom: 5px;
        }
        a {
          display: inline-block;
        }
        img {
          height: 40px;
        }
      }
      h5 {
        display: inline-block;
        margin-bottom: -10px;
      }
    }
  }

  .unitStats {

    text-align: center;
    height: 225px;
    border-bottom: solid 2px;

    .selectUnitImage {
      display: inline-block;
      width: 120px;
      img {
        height: 160px;
      }
    }
    .selectUnitStats {

      #selectUnitTrump {
        .value {
          margin-left: 0;
          margin-right: 0;
          width: 100%;
          img {
            height: 25px;
          }
        }

      }
      text-align: center;
      //      background-color: cyan;
      margin-left: 2px;
      width: 62px;
      display: inline-block;
      .selectUnitStat {
        .key {
          font-size: 13px;
          margin: 0;
        }
        .value {
          font-size: 12px;
        }
        hr {
          margin: 0;
          width: 100%;
        }
      }

    }
  }
  .messageOptions {
    height: 230px;
    //    background-color: whitesmoke;
    overflow: auto;
    max-height: 230px;

    #messageNav {
      input {
        width: 62%;
        height: 20px;
        font-size: 12px;
        margin-bottom: 0;
        margin-left: 6px;
        display: inline-block;
      }

      button {
        width: 30%;
        padding: 0;
        font-size: 14px;
        margin: 5px 0;
        height: 20px;
        display: inline-block;
      }
    }

    .messageRow {
      overflow: auto;
      display: block;
      width: 100%;
      padding: 0 8px;

      .message {
        overflow: auto;
        //        display: block;
        //        width: 100%;
        max-width: 180px;
        margin-bottom: 2px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; /* future proofing */
        -khtml-border-radius: 10px; /* for old Konqueror browsers */
        a {
          font: normal normal normal 12px/normal '.HelveticaNeueDeskInterface-Regular';
          color: white;
          display: inline-block;
          max-width: 180px;
          padding: 2px 4px;
          margin: 0 8px;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          border-radius: 10px; /* future proofing */
          -khtml-border-radius: 10px; /* for old Konqueror browsers */
        }
      }
      .away {
        float: left;
        background-color: #477dca;
      }
      .home {
        float: right;
        background-color: red;
      }
    }

    .messageError {
      font-size: 11px;
      color: white;
      background-color: red;
      padding: 2px 10px;
      display: inline;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px; /* future proofing */
      -khtml-border-radius: 10px; /* for old Konqueror browsers */
    }
  }
}

#metaInfo {
  visibility: hidden;
  display: none;
  margin: 0;

}

.hexHover {
  .hexSVG {
    margin-top: 5px;
    margin-left: 5px;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;

    .hexPolygon {
      stroke-width: 124px;
      //      z-index: 666;
      transform: scale(0.092);
      -ms-transform: scale(0.092);
      -webkit-transform: scale(0.092);
      transition: all 0.20s;
      box-sizing: border-box;
    }
  }
}

.polygonHover {
  fill: yellow;
}

.userr {
  height: 100%;
  width: 40%;
  .avatar {
    margin-top: 3%;
    height: 30%;
    img {
      height: 100%;
    }
  }
  .username {
    height: 15%;
    h5 {
      font-size: 14px;
    }
  }
  p {
    font-size: 10px;
    margin-bottom: 0;
    margin-top: 5%;
  }
  .graveyard {
    width: 100%;
    height: 41%;
    img {
      height: 19px;
      margin: 0;
      margin-top: -4px;
    }
  }
  #g1 {
    background-color: #477dca;
  }
  #g0 {
    background-color: red;
  }

}