#matchShow {
  background-color: darkred;
  position: relative;
  width: 960px;
  //  height: 800px;

  .unit1 {
    border: 2px solid blue;
    border-radius:  40px;
  }
  .unit0 {
    border: 2px solid red;
    border-radius:  40px;
  }
  .noBoarder {
    border: 0;
    padding: 2px;
  }
  [data-status=dead]{
    border: 0;
  }
  [data-status=unplaced]{
    border: 0;
  }

  article {
  }

  .hideSelectedUnitInfo {
    visibility: hidden;
  }
  #matchInfo {
    //    text-align: center;
    background-color: #666;
    border: solid #000000 2px;
    .matchUp {
      //          background-color: yellow;
      border-bottom: solid 2px;
      height: 160px;
      text-align: center;
      .usernameAndImage {
        vertical-align: middle;
        display: inline-block;
        width: 100%;
        height: 40px;
        &:nth-of-type(1){
          margin: 20px 0 0 0;
        }
        text-align: center;
        article{
          display: inline-block;
          margin-left: auto;
          margin-right: auto;
          float: none;
          vertical-align: middle;
        }
        h5{
          display: inline-block;
          height: 100%;
          margin-left: auto;
          margin-right: auto;
          margin-top: -8px;
          padding-bottom: 5px;
        }
        a{
          display: inline-block;
        }
        img{
          height: 40px;
        }
      }
      h5 {
        display: inline-block;
        margin-bottom: -10px;
      }
    }
  }

  .unitStats {

    text-align: center;
    height: 220px;
    border-bottom: solid 2px;

    .selectUnitImage {
      display: inline-block;
      width: 120px;
      img {
        height: 160px;
      }
    }
    .selectUnitStats {

      #selectUnitTrump{
        .value{
          margin-left: 0;
          margin-right: 0;
          width: 100%;
          img{
            height: 25px;
          }
        }

      }
      text-align: center;
      //      background-color: cyan;
      margin-left: 2px;
      width: 62px;
      display: inline-block;
      .selectUnitStat {
        .key {
          font-size: 13px;
          margin: 0;
        }
        .value {
          font-size: 12px;
        }
        hr {
          margin: 0;
          width: 100%;
        }
      }

    }
  }
  .toggleOptions {
    //    background-color: greenyellow;
    text-align: center;
    button {
      width: 100px;
      height: 40px;
      display: inline-block;
    }
  }
  .graveyard {
    margin-top: 5px;
    width: 40%;
    height: 20px;
    background-color: peru;
    img {
      height: 16px;
      margin: 0;
    }
  }
}

#metaInfo {
  article {
    visibility: hidden;
    margin: 0;
  }
}