
.navBar{
  width: 102%;
  margin-left: -1%;
  margin-right: -1%;
  margin-top: -1%;
  height: 54px;
  z-index: 40;
//  background-color: #000;
  vertical-align: middle;
  .root{
//    margin-left: 70px;
//    float: left;
//    margin-left: 30px;
    h3{
      height: 100%;
      vertical-align: middle;
      padding-top: 5px;

    }
  }
  .navOption{
    h6{
      height: 100%;
      vertical-align: middle;
      font-size: 17px;
      padding-top: 13px;

    }
  }
  .navOptionSmall{
    h6{
      height: 100%;
      vertical-align: middle;
      font-size: 12px;
      padding-top: 15px;

    }
  }
  .navLogin{
    float: right;
    h6{
      height: 100%;
      vertical-align: middle;
      font-size: 17px;
      padding-top: 13px;
    }
  }
  .option{

  }
  article{
    display: inline-block;
    margin-top: 2px;
  }
}

.navBackdrop{
  height: 54px;
  width: 1280px;
  background-color: black;
  position: absolute;
  margin-top: -10px;
  z-index: -1;
    margin-left: -160px;
}


.footerBar{
//  position: relative;
//  position:absolute;
  bottom:4px;

  float: left;
  width: 102%;
  margin-left: -1%;
  margin-right: -1%;
  margin-top: 21px;
  height: 54px;
  z-index: 40;
  //  background-color: #000;
//  vertical-align: middle;

  .one_fourth {
    width: 220px;
//    position: absolute;
//    float: right;
    //  border: red solid 3px;
  }

  .three_fourth {
    width: 680px;
//    position: absolute;
    //  border: greenyellow solid 3px;
  }
  .root{
    //    margin-left: 70px;
//        float: left;
    //    margin-left: 30px;
    h3{
      height: 100%;
      vertical-align: middle;
      padding-top: 5px;

    }
  }
  .navOption{
    h6{
      height: 100%;
      vertical-align: middle;
      font-size: 17px;
      padding-top: 13px;

    }
  }
  .navOptionSmall{
    h6{
      height: 100%;
      vertical-align: middle;
      font-size: 12px;
      padding-top: 15px;

    }
  }
  .navLogin{
    float: right;
    h6{
      height: 100%;
      vertical-align: middle;
      font-size: 17px;
      padding-top: 13px;
    }
  }
  .option{

  }
  article{
    display: inline-block;
    margin-top: 2px;
  }
}

.footerBackdrop{
  height: 83px;
  width: 1280px;
  background-color: black;
  position:absolute; bottom:0;
  z-index: -1;
  margin-bottom: -8px;
  margin-left: -160px;
}