
.small-font{
  font-size: 10px;
}

#userColumn {
  background-color: #666;
  text-align: center;
  height: 730px;
//  height: 530px;
  .profImage {
    margin-top: 20px;
    width: 100%;
    height: 200px;
    img {
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .newMatch {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 180px;
    height: 50px;
    padding: .5rem 0;
    //    color: white;
    font-size: 20px;
    background-color: #000000;
    border: solid #000000 3px;
  }
  .usernameField {

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 120px;
    padding: .5rem 0;

    color: white;
    background-color: #666;
    height: 24px;
    //    border: solid #000000 3px;

    //    visibility: hidden;
  }
  button {
    color: #477dca;
    -o-transition: .1s;
    -ms-transition: .1s;
    -moz-transition: .1s;
    -webkit-transition: .1s;
    transition: .1s;
  }
  button:hover {
    color: #2c5999;
  }
  .playComp {
    button {
//      height: 40px;
    }
  }
  .playUser {
    label {
      display: inline-block;
    }

    div{
      &:nth-of-type(2){
        font-size: 17px;

        margin-left: -8px;
        margin-top: 4px;
      }
      &:nth-of-type(3){
        font-size: 17px;
        margin-left: -8px;


      }
    }

    .flashFail {
      height: 20px;
      color: red;
    }
    .usernameField {

      text-align: center;
      margin-left: auto;
      margin-right: auto;
      display: inline-block;
      width: 112px;
      padding: .5rem 0;

      color: white;
      background-color: #666;
      height: 32px;
      border: solid #000000 1px;

      //    visibility: hidden;
    }
  }

  #onlineUsers {

    background-color: tan;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 190px;
    td {
      &:nth-of-type(1) {
        padding-right: 1rem;
      }
      &:nth-of-type(2) {
        padding-right: 1rem;
        text-align: left;
      }
      &:nth-of-type(2) {
        padding-right: 1rem;
        font-size: 9px;
        text-align: left;
        background-color: yellow;
      }
      padding: .25rem;
    }
  }
}

.vsComputer {
  width: 80px;
  height: 40px;
  background-color: black;
  border: solid #000000 1px;
  font-size: 20px;

  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; /* future proofing */
  -khtml-border-radius: 4px; /* for old Konqueror browsers */
}

#messageDock {
  height: 30px;
  margin-top: 5px;
  .successMessage {
    text-align: center;
    background-color: green;
    color: #ffffff;
    border-radius: 5px;
    width: 250px;
  }
  .errorMessage {
    background-color: red;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    width: 250px;
  }
  .errorMessageLong {
    background-color: red;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    width: 600px;
  }

  .flashSuccess {
    color: green;
    position: absolute;
    h5 {
      padding-top: 7px;
      padding-left: 15px;
    }
  }
  .flashError {
    color: red;
    position: absolute;

    h5 {
      padding-top: 7px;
      padding-left: 15px;
    }
  }
}

#gameIndex {
  //  height: 240px;
  margin-bottom: 18px;
  min-height: 320px;
  h4 {
    font-size: 18px;
  }
  h6 {
    font-size: 10px;
  }
}

.communityInfo{
//  background-color: firebrick;
  width: 700px;
  height: 160px;
  margin-left: 0;
  h5{
    text-align: center;
//    background-color: aquamarine;
  }
  article{
    margin-right: 6px;
    margin-left: 6px;
  }
}

.gamesTitle{
  h1{
    display: inline-block;
  }
  h5{
    border: 1px solid black;
    margin-left: 14px;
    padding: 5px 10px;
    font-size: 16px;
//    background-color: royalblue;
    background-color: #000000;
    display: inline-block;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */

    a{
//      color: white;
      :hover {
        color: #000000;
      }
    }
  }
}

#favorites {
  text-align: center;
  #fourFavorites{
    width: 100%;
    height: 120px;
  }

  .favorite {

    width: 51px;


    .favoriteImage {
      width: 40px;
      height: 45px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
//    width: 68px;
    height: 120px;
    display: block;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    .unfavorite {
      font-size: 8px;
    }

//    background-color: teal;
    margin-bottom: 5px;
    .username{
      display: block;
//      background-color: yellow;
      height: 18%;
      a{
        width: 100%;
        height: 10px;
        font-size: 10px;
        margin-bottom: 5px;
      }
    }
    .image{
      width: 100%;
      height: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
//      background-color: blue;
      img{
        height: 100%;
        width: 100%;
      }
    }
    .play{
      font-size: 14px;
      display: block;
      height: 18%;
//      background-color: green;
    }
    .unfavorite{
      font-size: 8px;
      display: block;
      height: 10%;
//      background-color: orangered;
    }
  }

}

#finishedGamesTable {
  margin-top: 6px;
  th {

    font-size: 10px;
    padding: 3px;
    &:nth-of-type(1) {
      width: 46%
    }
    &:nth-of-type(2) {
      width: 26%;
      font-size: 8px;
    }
    &:nth-of-type(3) {
      width: 28%
    }
  }
  td {
    padding: 0;
    &:nth-of-type(3) {
      font-size: 12px;
    }
    &:nth-of-type(2) {
      font-size: 10px;
      a{
        display: inline-block;
        color: white;
        border: solid #000000 1px;
        border-radius: 10px;
        margin-top: 2px;
        height: 14px;
        background-color: #666;
        width: 40px;
      }
    }
    &:nth-of-type(1) {
      font-size: 10px;
    }
    &:nth-of-type(4) {
      width: 50%
    }
  }
}

#onlinePlayersTable {
  margin-top: 4px;
  th {
    font-size: 10px;
    padding: 3px;
    background-color: royalblue;

    &:nth-of-type(1) {
      width: 6%;
    }
    &:nth-of-type(2) {
      width: 30%;
      font-size: 10px;
    }
    &:nth-of-type(3) {
      width: 14%;
    }
    &:nth-of-type(4) {
      width: 30%;
    }
    &:nth-of-type(5) {
      font-size: 9px;
      width: 18%;
    }
  }
  td {

    padding: 0;
    &:nth-of-type(1) {
      font-size: 11px;
    }
    &:nth-of-type(2) {
//      text-align: left;
      font-size: 10px;
    }
    &:nth-of-type(3) {
      font-size: 10px;
    }
    &:nth-of-type(4) {
      font-size: 9px;
    }
    &:nth-of-type(5) {
      font-size: 9px;
    }
  }
//  img{
//    margin-top: 1px;
//    height: 9px;
//  }
}

.onlineStatusLight{
  margin-top: 1px;
  height: 9px;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

.toMatchButton {
  display: inline-block;
//  width: 120px;
  padding: .5rem 0;
  color: white;
  border: solid #000000;
  border-radius: 10px;
  height: 45px;
  width: 150px;
  padding-top: 8px;
  font-size: 16px;
}

.waitingGame{
  background-color: #666;
  margin: 0;
  font-size: 12px;
}
.pendingGame{
  background-color: #666;
  margin: 0;
}
.acceptGame{
  background-color: royalblue;
  margin: 0;
}
.setupGame{
  background-color: steelblue;
  margin: 0;
}
//.newGame {
//  background-color: blue;
//  margin: 0;
//}

.yourTurn {
  background-color: royalblue;
}

.thereTurn {
  background-color: orangered;
}

#matchesTable {
//  max-height: 350px;
//  overflow: scroll;
  thead {
    tr {
      th {
        &:nth-of-type(1) {
          width: 60px;
        }
        &:nth-of-type(2) {
          width: 180px;
        }
        &:nth-of-type(3) {
          width: 100px;
        }
        &:nth-of-type(4) {
          width: 200px;
        }
        &:nth-of-type(5) {
          width: 50px;
        }
        &:nth-of-type(6) {
          width: 120px;

        }

      }
    }
  }
}

#userShow {
  text-align: center;
  .profileImage {
    width: 200px;
    height: 200px;
  }
}

.dashLink{
  font-size: 8px;
  float: left;
  width: 220px;
  text-align: left;
}