

.startGameButton {
  height: 80px;
  width: 200px;
  font-size: 24px;
  margin: 120px 0 0 -450px;
}
.tutorial{
  background-color: blueviolet;
  //  height: 90px;
  width: 200px;
  font-size: 20px;
  padding: 4px 7px;
  white-space: normal;
  position: absolute;
  z-index: 87;
  h5{
    font-size: 17px;
  }
  h6{
    font-size: 16px;
  }
  a{
    font-size: 8px;
    text-align: right;
  }
  p{
    font-size: 11px;
  }
  img{
    width: 80px;
  }
}


.randomSetUpButton {
  margin: 260px 0 0 -420px;
  opacity: 0;
}

.pleaseWait{
  margin: 120px 0 0 -505px;
  opacity: 0;
}
//.setUpOne{
//  margin: 210px 0 0 -480px;
//  font-size: 8px;
//  opacity: 0;
//  background-color: red;
//  width: 80px;
//  height: 30px;
//}
//.setupOne{
//  margin: 210px 0 0 -480px;
//  font-size: 8px;
//  opacity: 0;
//  background-color: red;
//  width: 80px;
//  height: 30px;
//}
.setUpTwo{
  margin: 210px 0 0 -390px;
  opacity: 0;
  background-color: red;
  width: 80px;
}
.setUpThree{
  margin: 210px 0 0 -300px;
  opacity: 0;
  background-color: red;
  width: 80px;
}

.setup1{
  margin: 210px 0 0 -480px;
}
.setup2{
  margin: 210px 0 0 -390px;
}
.setup3{
  margin: 210px 0 0 -300px;
}
.setUp{
  font-size: 8px;
  opacity: 0;
  width: 80px;
  height: 40px;
  button{
    height:50%;
  }
  .executeSetup{
    white-space: normal;
    padding: 2px;
    font-size: 10px;

    width: 100%;
    height:65%;
    background-color: #477dca;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;


  }
  .nameSetup{
    width: 50%;
    height:35%;
    padding: 0;
    font-size: 8px;

    //    radius-t: 0;
//    radius-topright: 0;
    border-top-right-radius: 0;
//    border-bottom-right-radius: 0;
    border-top-left-radius: 0;


    vertical-align: middle;
    background-color: green;
  }
  .saveSetup{
    padding: 0;
    font-size: 8px;


    border-top-right-radius: 0;
    border-top-left-radius: 0;
//    border-bottom-left-radius: 0;
    width: 100%;
    height:35%;
    background-color: red;
  }
}