
<button class="startGameButton">Start Game</button>
<button class="loadEnemiesButton">Load Enemies</button>
<button class="randomSetUpButton">Random Setup</button>
<button class="moveUnitButton">1 Turn</button>
<button class="fiveTurnsButton">5 Turns</button>
<button class="tenTurnsButton">10 Turns</button>

<% var yPos = 1; %>

<% $.each( thearray , function(index, row){ %>

    <div class="grid" data-y-pos=<%= yPos %>>
    <% $.each (row , function(index, col){ %>
        <%= col %>
    <% }); %>

    <% yPos += 1; %>
    </div>

<% }); %>