<% var yPos = 1; %>
<% $.each(map,function(index, row){ %>
    <div class="grid" data-y-pos=<%= yPos %>>
    <% $.each (row , function(index, col){ %>
        <%= col %>
    <% }); %>
    <% yPos += 1; %>
    </div>
<% }); %>