<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <!--<div class="navbar-text pull-left">-->
      <ul class="nav navbar-nav pull-left collapse navbar-collapse">
        <li><%= link_to 'Blog', 'http://ironocean.blogspot.com/', :target => "_blank" %></li>
        <li><%= link_to 'Twitter', 'https://twitter.com/cyvasseio', :target => "_blank" %></li>
        <li><%= link_to 'Facebook', 'https://www.facebook.com/cyvasseio', :target => "_blank" %></li>
      </ul>
    <ul class="nav navbar-nav pull-right">
      <li><a href="http://ironocean.io">© 2015 Iron Ocean, LLC</a></li>
    </ul>
  </div>
</div>